.App {
  text-align: center;
  padding: 0 0 80px 0;
}

h2 {
  font-size: 40px;
}

.form_wrap {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 24px;
  text-align: left;
}

label:not(:first-child) {
  margin: 24px 0 0 0;
}

input, textarea, select {
  margin: 4px 0 0 0;
}

input, select {
  font-size: 16px;
  padding: 8px;
}

textarea {
  padding: 8px;
}

button {
  cursor: pointer;
  margin: 20px auto 0;
  padding: 16px;
  max-width: 400px;
  width: 100%;
}

button:disabled {
  cursor: auto;
}

.posts_list {
  margin: 24px auto 0;
  max-width: 800px;
  width: 100%;
}

.posts_list > article {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 8px 0;
}

.posts_list > article:not(:first-child) {
  margin: 24px 0 0 0;
}